*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

ul,
ol {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: hsl(208, 48%, 11%);
  letter-spacing: normal;
  background-color: hsl(199, 81%, 94%);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 375px) {
    width: 375px;
  }

  @media screen and (min-width: 768px) {
    width: 685px;
  }

  @media screen and (min-width: 1440px) {
    width: 1440px;
  }
}

.section {
  margin-top: 50px;
}

.main_wrapper {
  box-shadow: 0px 0px 50px -4px rgba(0, 0, 0, 0.27);
  @media screen and (min-width: 768px) {
    border-radius: 20px;
  }
  @media screen and (min-width: 1440px) {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: hsl(0, 0%, 100%);
    width: 1008px;
  }
}

.form_container {
  padding: 39px 23px 30px 23px;
  background-color: hsl(0, 0%, 100%);
  @media screen and (min-width: 768px) {
    border-radius: 20px 20px 0 0;
    padding: 45px 40px 40px 40px;
  }
  @media screen and (min-width: 1440px) {
    border-radius: 20px 0 0 20px;
  }
}

.title_wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.title {
  margin-bottom: 19px;
  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }
}

.title_type {
  margin-bottom: 15px;
}

a.link {
  display: block;
  color: inherit;
  text-decoration-line: underline;
  margin-bottom: 30px;
  cursor: pointer;
}

label {
  position: relative;
}

.mortgage_wrapper {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }
}

input[type='number'] {
  margin-top: 15px;
  margin-bottom: 30px;
  width: 100%;
  height: 48px;
  border-radius: 5px;
  border: 2px solid hsl(203, 41%, 72%);
  cursor: pointer;
  outline: none;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.error_message {
  visibility: hidden;
}

/* Icon */
input[type='radio'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid hsl(203, 41%, 72%);
  border-radius: 50%;
  background-color: inherit;
  outline: none;
  cursor: pointer;
  position: relative;
  margin: 0 10px 0 15px;
}

input[type='radio']::before {
  content: '';
  display: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s ease;
}

.input_wrapper {
  height: 48px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid hsl(200, 24%, 40%);
  cursor: pointer;
  outline: none;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.input_wrapper:hover {
  border-color: hsl(61, 70%, 52%);
}

.input_wrapper:first-child {
  margin-top: 30px;
  @media screen and (min-width: 768px) {
    margin-top: 15px;
  }
}

.input_wrapper:last-child {
  margin-top: 10px;
  margin-bottom: 22px;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

input[type='radio']:focus::before {
  display: block;
  background-color: hsl(61, 70%, 52%);
}

.input_wrapper:focus-within {
  border-color: hsl(61, 70%, 52%);
  background-color: hsla(61, 70%, 52%, 0.1);
}

input[type='radio']:focus {
  border: 1px solid hsl(61, 70%, 52%);
}

label > input.left_side {
  padding-left: 60px;
}

label > input.right_side {
  padding-left: 15px;
}

.side_indicator {
  position: absolute;
  top: 35px;
  bottom: 2px;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  height: 44px;
  background-color: hsl(202, 86%, 94%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: hsl(200, 24%, 40%);
}

label > span.left_side {
  left: 2px;
  border-radius: 5px 0 0 5px;
}

label > span.right_side {
  right: 2px;
  border-radius: 0 5px 5px 0;
}

label > input:hover {
  border-color: hsl(200, 26%, 54%);
}

button#btn {
  width: 100%;
  height: 56px;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 700;
  background-color: hsl(61, 70%, 52%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  @media screen and (min-width: 768px) {
    margin-right: auto;
    width: 315px;
  }
}

button#btn:hover {
  background-color: hsla(61, 70%, 52%, 0.4);
}

.answer_container {
  padding: 35px 20px 30px 20px;
  background-color: hsl(202, 55%, 16%);
  @media screen and (min-width: 768px) {
    border-radius: 0 0 20px 20px;
  }
  @media screen and (min-width: 1440px) {
    padding: 152px 52px 152px 52px;
    border-radius: 0 20px 20px 100px;
  }
}

.answer_img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}

.title_answer {
  text-align: center;
  color: hsl(202, 86%, 94%);
  margin-bottom: 20px;
}

.text_answer {
  text-align: center;
  color: hsl(203, 41%, 72%);
  @media screen and (min-width: 1440px) {
    width: 400px;
  }
}
